body {
    /*margin-top: 20px;
    margin-left:20px;*/
    margin: 20px;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/y-so-serious.png");
}



    /* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
      margin-bottom: 0;
      margin-top: 0%;
      border-radius: 0;
      color: antiquewhite;
      background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/noisy_net.png");
      font-family: 'Audiowide', cursive;;
}

 .navbar-brand {
        font-size: 200%;
        font-family: 'Audiowide', cursive;
        color: antiquewhite;
}


.col-sm-3 {
    height: auto;
    overflow: hidden;
}

.jumbotron {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/prism.png");
    color:antiquewhite;
    border-radius: 0px;
    font-family: 'Jolly Lodger', cursive;
    text-align: center;
    }
    .jumbotron-sm { padding-top: 24px;
    padding-bottom: 24px; }
    .jumbotron small {
    color: #FFF;
    }
    .h1 small {
    font-size: 24px;
    float:right;
    }
    img.small {
        width:200px;
        height:200px;
        border-radius: 50%;
        border-style: solid;
        border-color: black;
    }

.portfolio {
    font-family: 'Press Start 2P', cursive;
    color: antiquewhite;
}

.img-responsive {
    width:300px;
    height: 400px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/noisy_net.png");
    padding: 30px;
   
  
}

.contact{
    text-align: center;
    font-family:'Jolly Lodger', cursive ;
    font-size:50px;
    
}

h1 {
    font-size: 70px;
    color:antiquewhite;
    text-decoration: underline;
    
}

.bio {
    font-family: 'Press Start 2P', cursive;
    color: antiquewhite;
    text-align: center;
    float: right;
    font-size: 25px;
}

.row {
    font-family:'Jolly Lodger', cursive;
    color: antiquewhite;


}

section {
    text-align: center;
    font-size: 400%;
}
.smalls {
    float: left;
    border-radius: 50%;
}
button {
    font-family:'Jolly Lodger', cursive;
}



